*{
    margin:0px;
    padding:0px;

    color: #dadada;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
}

/* for large font */
.f-l{
    font-size: clamp(1.5em, .8028em + 1.831vw, 2em);
}
/* for medium font */
.f-m{
    font-size: clamp(1em, 0.8028em + 1.831vw, 1.5em);
}
/* for small font */
.f-s{
    font-size: clamp(0.5em, 0.8028em + 1.831vw, 1em);
}

hr{
    margin:2% auto;
    border-style:dashed;
    width:90%;
}

.icon-side{
    width:35px;
}
  
body{
    padding: 1lvh 1lvw;
    box-sizing: border-box;
    background-size:cover;
}

.body{
    width:98lvw;
    height: 98lvh;
    display : grid;
    transition : all ease-in 0.3s;
    grid-gap: 10px;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows:repeat(10,1fr);
}
.sidebar{
    padding: 5%;
    justify-content: end;
    grid-column: 1/5;
    grid-row:1/11;
}
.sidebar-description{
    padding:5% 0%;
}
.skill-tree{
    grid-column: 5/7;
    grid-row:1/2;
}
.projects{
    grid-column: 7/9;
    grid-row:1/2;
}
.blog{
    grid-column: 9/11;
    grid-row:1/2;
}
.contract{
    grid-column: 11/13;
    grid-row:1/2;
}

.nav-item{
    padding-top:1rem;
}

.nav-active{
    grid-column: 5/16 !important;
    grid-row:2/11 !important;
}

.profile-pic{
    align-self: center;
    width:80%;
    margin:5% 0%;
    border-radius: 50px;
}

.contact-btns{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom:5%;
    justify-content: space-around;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 2px solid rgba(255, 255, 255, 0.233);
    cursor: pointer;
  }

.blur-low{
    backdrop-filter:(10px);
    background-color: rgba(59, 59, 59, 0.308);
}
.blur-medium{
    backdrop-filter:(40px);
    background-color: rgba(43, 42, 42, 0.308);
}
.blur-high{
    backdrop-filter:(80px);
    background-color: rgba(22, 22, 22, 0.308);
}