.navigation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #131313;
}
.navigation-container1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 20px;
  display: flex;
  padding: 60px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  border-color: #a4a4a4;
  border-style: double;
  border-width: 10px;
  flex-direction: column;
  background-color: #191919;
}
.navigation-button {
  top: 42px;
  right: 47px;
  outline: 2px solid #a4a4a4;
  position: absolute;
  transition: 0.3s;
  background-color: transparent;
}
.navigation-button:hover {
  outline-offset: 5px;
}
.navigation-text {
  color: #a4a4a4;
  font-size: 2.4vw;
  background: none;
  font-family: "Fira Code";
}
.navigation-container2 {
  gap: 50px;
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.navigation-container3 {
  flex: 0 0 auto;
  width: fit-content;
  display: flex;
  padding: 50px;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
}
.navigation-button1 {
  color: transparent;
  width: 100px;
  height: 100px;
  rotate: 45deg;
  outline: 20px double #a4a4a4;
  align-self: center;
  transition: 0.3s;
  margin-bottom: 70px;
  background-color: #a4a4a4;
}
.navigation-button1:hover {
  border-radius: 50%;
  outline-offset: 20px;
}
.navigation-text3 {
  color: #a4a4a4;
  font-size: 2.4vw;
  font-family: "Fira Code";
}
.navigation-container4 {
  flex: 0 0 auto;
  width: fit-content;
  display: flex;
  padding: 50px;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
}
.navigation-button2 {
  color: transparent;
  width: 100px;
  height: 100px;
  rotate: 45deg;
  outline: 20px double #a4a4a4;
  align-self: center;
  transition: 0.3s;
  margin-bottom: 70px;
  background-color: #a4a4a4;
}
.navigation-button2:hover {
  border-radius: 50%;
  outline-offset: 20px;
}
.navigation-text4 {
  color: #a4a4a4;
  font-size: 2.4vw;
  font-family: "Fira Code";
}
.navigation-container5 {
  flex: 0 0 auto;
  width: fit-content;
  display: flex;
  padding: 50px;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
}
.navigation-button3 {
  color: transparent;
  width: 100px;
  height: 100px;
  rotate: 45deg;
  outline: 20px double #a4a4a4;
  align-self: center;
  transition: 0.3s;
  margin-bottom: 70px;
  background-color: #a4a4a4;
}
.navigation-button3:hover {
  border-radius: 50%;
  outline-offset: 20px;
}
.navigation-text7 {
  color: #a4a4a4;
  font-size: 2.4vw;
  font-family: "Fira Code";
}
.navigation-container6 {
  flex: 0 0 auto;
  width: fit-content;
  display: flex;
  padding: 50px;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
}
.navigation-button4 {
  color: transparent;
  width: 100px;
  height: 100px;
  rotate: 45deg;
  outline: 20px double #a4a4a4;
  align-self: center;
  transition: 0.3s;
  margin-bottom: 70px;
  background-color: #a4a4a4;
}
.navigation-button4:hover {
  border-radius: 50%;
  outline-offset: 20px;
}
.navigation-text8 {
  color: #a4a4a4;
  font-size: 2.4vw;
  font-family: "Fira Code";
}
